@font-face {
    font-family: "Retrofuture";
    src: url(/assets/fonts/Retrofuture.ttf) format("truetype");
}
@font-face {
    font-family: "Departure Mono";
    src: url(/assets/fonts/DepartureMono-Regular.woff2) format("woff2");
}
@font-face {
    font-family: "DINish";
    src: url("/assets/fonts/DINish[slnt\,wdth\,wght].woff2") format("woff2");
}
