
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">

<link rel="stylesheet" href="https://the.missing.style">
<link rel="icon" href="/assets/me.jpeg">

<!-- IndieAuth -->
<link rel="authorization_endpoint" href="https://indieauth.com/auth">
<link rel="token_endpoint" href="https://tokens.indieauth.com/token">

<!-- Webmention -->
<link rel="webmention" href="https://webmention.io/www.denizaksimsek.com/webmention">
<link rel="pingback" href="https://webmention.io/www.denizaksimsek.com/xmlrpc">

<link rel="stylesheet" href="/assets/css/coldark-prism.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet"> 

<% if (it.tags.length > 0) { %>
    <meta property=og:title content="<%= it.name ?? it.title
        ?? filters.peekHtml(filters.md(it.content)) %>">
    <meta property=og:url content="https://denizaksimsek.com<%= it.url %>">
    <meta property=og:type content=article>
    <% if (it.photo) { %>
    	<meta property=og:image content="<%= it.photo %>">
    <% } %>
    <meta name=twitter:card content="summary<%= it.photo ? "_large_image" : "" %>">
    <meta name=twitter:site content=@DenizAksimsek>
    <meta name=twitter:creator content=@DenizAksimsek>
<% } %>

<style>
:root {
    --main-font: "Source Serif 4", serif;
    /* --main-font: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif; */
    --line-length: 70ch;
    --accent: #be2300;
    --muted-accent: #f06a6a;
    --bg-2: #fff8f8;
    --bg-3: #e1dfdf;
    font-size: 110%;
    --rhythm: 1.6rem;
    font-variant-numeric: oldstyle-nums;
}

a {
    text-underline-offset: .4em;
}

time {
    white-space: nowrap;
}

.italic {
    font-style: italic;
}

.metadata-block {
    display: flow-root;
    --fg: var(--muted-fg);
    color: var(--fg);
}

.metadata-block dt {
    float: left;
    margin-inline-end: 2ch;
}

.p-category {
    text-transform: uppercase;
    font-size: .9em;
    letter-spacing: .1em;
}
</style>

<% if (it.lang === "tok") { %>
    <style>
        @font-face {
            font-family: "insa pi supa lape";
            src: url("/assets/fonts/supalape.woff");
        }

        @font-face {
            font-family: "insa pi supa lape";
            src: url("/assets/fonts/supalape-bold.woff");
            font-weight: 700;
        }

        :root {
            --main-font: "insa pi supa lape", sans-serif;
            font-size: 1.2em;
        }
        
        * {
            letter-spacing: 0 !important;
            text-transform: none !important;
        }
        
        time, :not(:lang(tok)) {
            font-feature-settings: "liga" 0;
        }
        
        var {
            font-style: normal;
        }
    </style>
<% } %>
